/* ---- style.css ---- */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #e0cccf;
  /*#01171b;*/
}

test {
  fill: #64020e;
  /*#00394f;*/
  stroke: #eee;
  stroke-width: .25;
}

svg g {
  fill: #cf2034;
  /*#00394f;*/
  /* stroke: #eee; */
  stroke-width: .25;
}
svg path {
  /* fill: #64020e; */
  /*#00394f;*/
  stroke: #eee;
  stroke-width: .25;
}



svg path:hover {
  fill: #280106;
  /*#006284;*/
  transition: 0.6s;
  cursor: pointer;
}

svg g:hover {
  fill: #280106;
  /*#006284;*/
  transition: 0.6s;
  cursor: pointer;
}