/* ---- style.css ---- */
* {
  margin: 0;
  padding: 0;
  background-color: #d6cfd1;
}


canvas {
  /* fill: #64020e; */
  stroke: #64020e;
  stroke-width: .25;
}

svg g {
  fill: #64020e;
  stroke: #64020e;
  stroke-width: 1.5;
}

svg g:hover {
  fill: #280106;
  stroke: #280106;
  stroke-width: 1.5;
  transition: 0.6s;
  cursor: pointer;
}

/* svg path {
  fill: #64020e;
  stroke: #64020e;
  stroke-width: .10;
} */

/* svg path:hover {
  fill: #280106;
  transition: 0.6s;
  cursor: pointer;
}   */

h1 {
  margin: 20px;
}

.logoBox {
  position:absolute;
  bottom: 5px;
  left: 10px;
  margin: 40px;
}

.iadmfr-logo {
  width: 200pt;
}